body{
    margin: 0;
}

header{
    background-color:#8DDE8F

}

.navbar {
    position: absolute;
    width: 100%;
    padding: 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.85);
  }
  
  .nav-left ul {
    display: flex;
    list-style: none;
    gap: 24px;
  }
  
  .nav-left a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }

  /* Hero */
.hero {
    height: 100vh;
    background-image: url("./src/Background.png");
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
  }
  
  .hero-content {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 80px;
  }
  
  .hero h1 {
    color: white;
    font-size: 56px;
    font-weight: 500;
    line-height: 1.2;
  }